/*-------------------- Google Font --------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*-------------------- Color Variables --------------------*/
:root {
    --hue-color: 230; 
    --main-color: hsl(var(--hue-color), 69%, 61%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
}

/*-------------------- Base CSS Rules --------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1rem;
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*-------------------- Header --------------------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
    font-weight: 500;
}

.nav_logo{
    color: var(--title-color);
}

.nav_logo:hover {
    color: var(--main-color);
}

.nav_list {
    display: flex;
}

.nav_link {
    padding-left: 1rem;
    align-items: center;
    font-size: 0.9rem;
    color: var(--title-color);
}

.nav_link:hover {
    color: var(--main-color);
}

/*-------------------- Main --------------------*/
.calculator-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.calculator {
    min-width: 300px;
    width: 75vw;
    max-width: 400px;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.display {
    height: 3rem;
    background-color: whitesmoke;
    color: var(--title-color);
    font-size: 2rem;
    text-align: right;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.num,
.operand,
#clear,
#delete,
#percent,
#dot,
#equal {
    font-size: 1.2rem;
    color: white;
    background-color: var(--main-color);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#equal {
    background-color: hsl(var(--hue-color), 69%, 40%);
}

#zero {
    grid-column: span 2;
}

.num:hover,
.operand:hover,
#clear:hover,
#delete:hover,
#percent:hover,
#dot:hover,
#equal:hover {
    background-color: hsl(var(--hue-color), 69%, 50%);
}

/*-------------------- Footer --------------------*/
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer_container {
    margin: 0 1.5rem;
}

.footer_bg {
    background-color: var(--main-color);
    padding: 2rem 0;
}

.footer_title {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title-color);
}

.footer_title,
.footer_subtitle{
    color: white;
}

/*-------------------- Media Queries --------------------*/
/* For tablet */
@media screen and (min-width: 768px){
    .nav_logo {
        font-size: 1.5rem;
    }
    .nav_link {
        font-size: 1rem;
    }

    .calculator-section {
        margin-top: 6rem;
    }

    .btn {
        font-size: 1.35rem;
    }
}

/* For large devices */
@media screen and (min-width: 1024px){
    .btn {
        font-size: 1.5rem;
    }
}